@font-face {
  font-family: 'maple-bold';
  src: url('../src/fonts/Maplestory_bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'maple-light';
  src: url('../src/fonts/Maplestory_Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
