@font-face {
  font-family: maple-light;
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Nexon/MaplestoryOTFLight.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: maple-bold;
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Nexon/MaplestoryOTFBold.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

#root {
  position: relative;
  font-size: 14px;
}

::placeholder {
  color: rgb(3, 3, 3);
}

img {
  filter: none;
}
