.App {
  background-color: aliceblue;
  font-family: maple-light;
}

body{
  background-color: aliceblue;
}
@font-face {
  font-family: maple-bold;
  src: url("./font/Maplestory\ Bold.ttf");
}

@font-face {
  font-family: maple-light;
  src: url("./font/Maplestory\ Light.ttf");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
