.App {
  background-color: aliceblue;
  font-family: maple-light;
}

body{
  background-color: aliceblue;
}

@font-face {
  font-family: maple-bold;
  src: url("./font/Maplestory\ Bold.ttf");
}

@font-face {
  font-family: maple-light;
  src: url("./font/Maplestory\ Light.ttf");
}



#root {
  height: 100%;
}
